---
path.data: "{{ elasticsearch_data }}"
path.logs: "{{ elasticsearch_logs }}"
network.host: "{{ elasticsearch_host }}"
http.port: {{ elasticsearch_port  }}
cluster.initial_master_nodes: {{ elasticsearch_master_nodes }}
